*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%; }

body {
  position: relative;
  background-color: #ffe7e7;
}

/*MOBILE*/

.row{
  padding-top: 1em;
  padding-bottom: 1em;
}

/*header*/
.menuBar{
  width: 100%;
  background-color: #ffe7e7;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.menu{
  position: fixed;
  padding:0;
  top:0;
}
.menu a{
  color: black;
}

.mLogo{
position: relative;
top:0;
left: 34.5%;
}

.sideNav{
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  background-color: black;
  top:0;
  left:0;
  transition: 0.5s;
  padding-top: 3em;
}

.sideNav a{
  display: block;
  text-decoration: none;
  font-size: 2em;
  color: #ffe7e7;
}

.sideNav .closebtn{
    position: absolute;
    top: 0;
    right: .25em;
}



/*body*/
.main{
position: relative;
top: 7.5em;
}


/*footer*/

.footer{
position: relative;
margin-top:7.5em;
}

.socialMediaLinks{
  text-align: center;
  padding-top: .5em;
}

.socialMediaLinks li{
  display: inline-block;
}

.socialMediaLinks a{
  color: black;
}

@media only screen and (max-width:768px) {

  #desktopLogo{
    display: none;
  }

  #desktopNavi{
    display: none;
  }
}

/*Tablet & Desktop*/
@media only screen and (min-width:768px){

  #menuIcon{
  display:none;
  }

  #logo{
    display: none;
  }

  .menuBar{
    width: 100%;
    height: auto;
    background-color: #ffe7e7;
    position: fixed;
    overflow: hidden;
    z-index: 1;
  }

  .menu{
    position: absolute;
    top:5em;
    left: 58%;
  }

  .mLogo{
    top:1.7em;
    left:0;
  }

.deskNavi li{
  padding: 0.25em;
  font-size: 1.5em;
  display: inline;

}

.imgGalleryContainer{
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.imgGallery{
  width: 400%;
  height: 100%;
}

.imgGallery li{
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.imgGallery li img{
  width: 100%;
  min-height: 100%;

}

.imgGalleryContainer button{
position: absolute;
display: block;
box-sizing: border-box;
border: none;
outline: none;
top: 50%;
width: 5%;
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
margin: 0;
z-index: 0;
}

button.prev{
left:1em;
}

button.next{
right:1em;
}

#about{
  display: none;
}

#video{
  display: none;
}

#music{
  display: none;
}

.footer{
  background-color: #ffe7e7;
  display: none;
  position: fixed;
  width: 100%;
  bottom:0em;
  margin-top: 0;
}


}
